{% css %}
.entry {
    margin: 0 0 .5rem;
    border-bottom: 1px solid #ddd;
}
@media (min-width: 576px) {
    .entry {
        display: flex;
        justify-content: space-between;
    }
}
{% endcss %}

<div class="entry">
    <div>{{ blogger.data.name }}</div>
    <div><a href="https://{{ blogger.data.homepage }}">{{ blogger.data.homepage }}</a></div>
</div>
