<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="canonical" href="https://www.nederlandsebloggers.nl{{ page.url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.nederlandsebloggers.nl{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="/og-image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.nederlandsebloggers.nl{{ page.url }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="/og-image.jpg">

        <style>{% getBundle 'css' %}</style>

{% css %}
html {
    font-size: 16px;
}

body { 
    font: 1rem/1.5 sans-serif;
    padding: 0 1rem;
    margin: 1rem auto 3rem auto;
    max-width: 80ch;
}

h1 {
    margin: 1rem 0 0;
}

.lead {
    margin-top: 0px;
    font-style: italic;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-transform: lowercase;
}

nav a:first-child {
    font-weight: bold;
}

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 1rem;
    }

    nav {
        padding: 4rem 0 0;
    }

    nav a {
        display: block;
    }
}
{% endcss %}
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/blog-toevoegen/">Blog toevoegen</a>
            <a href="/over/">Over</a>
        </nav>

        <main>
        {{ content | safe }}
        </main>
    </body>
</html>
